- @title = "Who We Are"
- @h1 = "Bringing Companies to Competive Advantage for their <em>Digital Future</em>"

%section#Services
  %h2 Services
  .slideshow
    %ul.slides.jcarousel-skin-services
      %script
        :plain
          // BUG: throwing 'invalid label' error in FF3
          { jcarousel_options: {
              visible: 4,
              scroll: 4,
              itemLastInCallback: function(carousel, li, index){
                carousel.list.children().css({borderRightWidth: "1px"});
                carousel.get(index).css({borderRightWidth: "0px"});
              }
          }}
      - @services.each_with_index do |service,i|
        %li
          .slide
            %h3< 
              %a.jcarousel-content-toggle{ :href=>"#service_#{i}" }<>
                %img{ :src=>service.image }<>
                #{service.name}
            .abstract
              %p #{service.abstract}
            .controls
              %a.jcarousel-content-show.icon.icon_more{ :href=>"#service_#{i}" } Learn More
              %a.jcarousel-content-hide.icon.icon_less.hidden{ :href=>"" } Close
            .jcarousel-content-block{ :id=>"service_#{i}" }
              %h4 #{service.name}
              - (rand(3)+1).times do
                %p #{Faker::Lorem.paragraph(20)}
              

%section#EnterpriseClients
  %h2 Enterprise Clients
  .slideshow
    %ul.slides.jcarousel-skin-default
      - @enterprise_clients.each_with_index do |client,i|
        %li
          .slide
            %a{ :href=>"/client/#{i}", :rel=>:popin, :style=>"background-image: url(#{client.logo})" }

%section#EmergingClients
  %h2 Emerging Innovation Clients
  .slideshow
    %ul.slides.jcarousel-skin-default
      - @emerging_clients.each_with_index do |client,i|
        %li
          .slide
            %a{ :href=>"/client/#{i}", :rel=>:popin, :style=>"background-image: url(#{client.logo})" }

%section#Associates
  %h2 Our Team
  .slideshow
    %ul.slides.jcarousel-skin-photos
      %script
        :plain
          // BUG: throwing 'invalid label' error in FF3
          { jcarousel_options: {
              visible: 5,
              scroll: 5,
              itemLastInCallback: function(carousel, li, index){
                carousel.list.children().css({borderRightWidth: "1px"});
                carousel.get(index).css({borderRightWidth: "0px"});
              }
          }}
      - @associates.each_with_index do |user,i|
        %li
          .slide
            %a{ :href=>"/associates/#{i}", :rel=>:popin }
              %img{ :src=>user.image }
            .name
              %a{ :href=>"/associates/#{i}", :rel=>:popin } #{user.name}
            .title
              #{user.title}